# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv

# Virtual Environment
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3

# Static files
static/images/*.jpg
static/images/*.png
!static/images/about.jpg
!static/images/dark_hoodie_front.jpg
!static/images/dark_hoodie_back.png
!static/images/gray_hoodie_front.jpg
!static/images